* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

header .navbar {
  padding: 20px 40px;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}
header .navbar .logo img {
  width: 150px;
}
header .navbar .navlist ul.direction {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
header .navbar .navlist ul.direction li.page a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: black;
}
header .navbar .mb-3 {
  display: flex;
  position: relative;
}
header .navbar .mb-3 button {
  border: 0;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 7px;
}
header .navbar .icons {
  font-size: 18px;
}
header .navbar .icons a {
  color: rgba(0, 0, 0, 0.342);
  margin-right: 20px;
  transition: all 0.5s;
}
header .navbar .icons a:nth-child(1):hover {
  color: green;
}
header .navbar .icons a:nth-child(2):hover {
  color: red;
}
header .navbar .icons a:nth-child(3):hover {
  color: blue;
}

.banner .banner__vid {
  padding: 0px 40px;
  width: 100%;
  height: 100vh;
}
.banner .banner__vid video {
  width: 100%;
  height: 100%;
}

.slogan {
  padding: 50px 40px;
  display: flex;
}
.slogan .slogan__img {
  width: 50%;
  margin-right: 40px;
}
.slogan .slogan__img img {
  border-radius: 10px;
}
.slogan .content {
  width: 48%;
  border: 10px dashed pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slogan .content .text h1 {
  font-size: 50px;
  font-weight: 600;
  color: black;
}
.slogan .content .text h1 span {
  color: red;
}
.slogan .content .text P {
  font-size: 25px;
  font-weight: 400;
  color: black;
}
@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.pos__title {
  padding: 40px 0 30px;
  position: relative;
}
.pos_title .container h2 {
  position: relative;
  text-align: center;
  font-weight: 600;
  color: #2f333a;
  line-height: 25px;
  font-size: 24px;
}
.pos_title .container h2 span {
  background-color: #fff;
  padding: 0 30px;
  display: inline-block;
  position: relative;
}
.pos_title .container p {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  line-height: 25px;
}

.product__modal {
  padding-bottom: 55px;
}
.product__modal .container .product__modal__category .col {
  width: 20%;
}
@media screen and (max-width: 1200px) {
  .product__modal .container .product__modal__category .col {
    width: 25%;
  }
}
@media screen and (max-width: 992px) {
  .product__modal .container .product__modal__category .col {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 720px) {
  .product__modal .container .product__modal__category .col {
    width: 50%;
  }
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item {
  border: 2px solid transparent;
  transition: all 0.5s;
  padding: 15px;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item:hover
  .modal__item__cart {
  transform: translateY(0);
  opacity: 1;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item:hover {
  border-color: #ebebeb;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__img {
  width: 210px;
  height: 210px;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__img
  .img__block {
  width: 100%;
  height: 100%;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__star {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ebebeb;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__star
  i {
  font-size: 10px;
  color: #e75768;
  margin-right: 2px;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__text {
  padding-top: 15px;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__text
  h3.title
  a {
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 16px;
  color: #2f333a;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__text
  p.sub__title {
  padding: 10px 0 20px;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__text
  p.sub__title
  a {
  font-size: 14px;
  color: #737373;
  text-transform: capitalize;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__text
  .item__text__price {
  align-items: center;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__text
  .item__text__price
  p.title__1 {
  padding-right: 10px;
  font-weight: 600;
  color: #2f333a;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__text
  .item__text__price
  p.title__2 {
  font-weight: 400;
  color: #bdbdbd;
  text-decoration: line-through;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__cart {
  margin-top: 28px;
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 0.5s;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__cart
  .item__cart_left {
  font-size: 18px;
  cursor: pointer;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__cart
  .item__cart_left:hover
  i {
  color: #e75768;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__cart
  .item__cart_left
  i {
  transition: all 0.5s;
  margin-right: 4px;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__cart
  .item__cart_left:hover
  span {
  color: #e75768;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__cart
  .item__cart_left
  span {
  transition: all 0.5s;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__cart
  .item__cart__right {
  cursor: pointer;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__cart
  .item__cart__right
  i {
  margin-left: 15px;
  transition: all 0.5s;
}
.product__modal
  .container
  .product__modal__category
  .modal__category__content
  .modal__category__item
  .modal__item__cart
  .item__cart__right
  i:hover {
  color: #e75768;
}

.items {
  padding: 0px 40px 20px 40px;
}
.items .items__title {
  display: flex;
  justify-content: space-between;
}
.items .items__title .left {
  position: relative;
  top: 44px;
}
.items .items__title .right {
  display: flex;
  justify-content: baseline;
  position: relative;
  top: 44px;
  z-index: 9999;
}
.items .items__title .right i {
  font-size: 25px;
}
.items .items__title .right a {
  text-decoration: none;
  color: black;
}
.items .item {
  min-height: 480px;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.items .item h3 {
  position: relative;
  top: 72px;
  z-index: 9999;
}
.items .item img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  filter: saturate(10%);
  transition: all 0.5s;
  border-radius: 10px;
  transform: scale(0.9);
}
.items .item img:hover {
  filter: saturate(100%);
  transform: scale(1);
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.footer {
  background-color: rgba(0, 0, 0, 0.795);
  padding: 30px 70px;
}
.footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer .content .column1 {
  line-height: 40px;
}
.footer .content .column1 a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.footer .content #list .title a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.footer .content #list ul {
  list-style-type: none;
  line-height: 40px;
}
.footer .content #list ul a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.425);
  transition: all 0.5s;
}
.footer .content #list ul a:hover {
  color: white;
}
.footer .content .column4 {
  display: flex;
}
.footer .content .column4 .icon {
  background-color: rgba(255, 255, 255, 0.596);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
  transition: all 0.5s;
  cursor: pointer;
}
.footer .content .column4 .icon:hover {
  background-color: white;
}
.footer .content .column4 .icon i {
  color: rgba(0, 0, 0, 0.596);
} /*# sourceMappingURL=index.css.map */
/* Responsive */
@media screen and (max-width: 890px) {
  .navbar .navlist {
    display: none;
  }
  .navbar .icons button {
    display: inline-block !important;
  }
  .navbar .icons .offcanvas-lg {
    display: inline-block !important;
  }
}
@media screen and (max-width: 610px) {
  .navbar .search {
    display: none;
  }
}
@media screen and (max-width: 956px) {
  .banner .banner__vid {
    height: auto;
    width: auto;
  }
  .banner .banner__vid video {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1460px) {
  .slogan {
    display: block;
  }
  .slogan .slogan__img {
    width: 100%;
    margin-bottom: 20px;
  }
  .slogan .slogan__img img {
    width: 100%;
  }
  .slogan .content {
    width: 100%;
  }
}
@media screen and (max-width: 633px) {
  .footer .content .column1 {
    width: 100%;
    text-align: center;
  }
  .footer .content .column2 {
    width: 50%;
    text-align: center;
  }
  .footer .content .column3 {
    width: 50%;
    text-align: center;
  }
  .footer .content #list ul {
    position: relative;
    left: -14px;
  }
  .footer .content .column4 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
